
@font-face{
   font-family:myFont;
   src:url("../fonts/natalisa/Natalisa Regular Demo.otf");
}
@font-face{
   font-family:title;
   src:url("../fonts/nuerthon/Nuerthon Regular.ttf");
}
body{
	background-color: black;
	margin: 0;
	font-family: title;
}
#menu{
	display: flex;
	justify-content: space-between;
	height: 75px;
	color: white;
}
li, a,ul{
	display: inline;
	text-decoration: none;
	padding: 20px;
	color: white;
	font-size: 12pt;

}
a:hover{
color: #939599;
}
#logo{
	height: width: : 100px;
	height: 70px;
}
#baniere{
	padding:7px;
}
span{
	position: absolute;
	top: 30px;
	left: 90px;
	font-size: 14pt;
}
.carousel-item,#carouselExampleIndicators{
	height: 700px;
	width: 100%;
	opacity: 0.8;
	padding-top: 10px;	
}

#carouselExampleIndicators{
	margin:auto;
}
.carousel-control-prev,.carousel-control-next{
	margin-top: 270px;
	margin-right: 40px;
	
}
.carousel-control-prev-icon,.carousel-control-next-icon{
	padding: 20px;
}

#statistics{
	color: white;
	width: 50%;
	margin: auto;
	margin-top:40px;
	padding-left: 242px; 
	border-bottom: solid 1px white;
}
.row{
	border:solid white;
	color: white;
	margin: auto;
	margin-top: 40px;
	padding: 10px;
	border:solid 2px #939599 ;
}
.col{
	border:solid 1px #939599;
	padding: 20px
}
img{
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
    }



