@font-face{
   font-family:myFont;
   src:url("../fonts/natalisa/Natalisa Regular Demo.otf");
}
@font-face{
   font-family:title;
   src:url("../fonts/nuerthon/Nuerthon Regular.ttf");
}
body{
	background-color: black;
	margin: 0;
	font-family: title;
}
#menu{
	display: flex;
	justify-content: space-between;
	height: 75px;
	color: white;
}
li, a,ul{
	display: inline;
	text-decoration: none;
	padding: 20px;
	color: white;
	font-size: 12pt;

}
a:hover{
color: #939599;
}
#logo{
	height: width: : 100px;
	height: 70px;
}
#baniere{
	padding:7px;
}
span{
	position: absolute;
	top: 30px;
	left: 90px;
	font-size: 14pt;
}
#ourteam{
	margin: 100px;
	font-family: myFont;
}